body {
	background-color: #573800;	
}

#globalNav ul {
	width: 350px;
	height: 100px;
	border: 1px solid black;
	margin: 0;
	padding:0;
	list-style: none;
}

#globalNav li {	
	display: inline;	
}


h1 {
	background-color: rgb(64,46,0);
	color: rgba(255,255,255,.6);
	font-family: "Share Tech", arial, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
	text-transform: uppercase; 
	text-shadow: -5px -5px 12px #969696;
}

h2 {	
	background-color: rgb(127,91,0);
	color: rgba(255,255,255,.4); 
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: -5px -5px 12px #969696;
}

p {
	background-color: #d18600;
	color: #915d00;
	font-family: "Share Tech", arial, sans-serif;
	text-indent: 50px;	
}

ul {
	background-color: rgb(127,91,0);
	color: blue; 	
}

a:hover {
	color: red;
}
 /* I got my colors from Adobe Kuler */
 






