body {
	background-color: #13A9FE;	
}

h1 {
	background-color: rgb(64,46,0);
	color: rgba(255,255,255,.6); 
}

h2 {	
	background-color: rgb(127,91,0);
	color: rgba(255,255,255,.4); 
}

p {
	background-color: #d18600;
	color: #915d00;
}

ul {
	background-color: rgb(127,91,0);
	color: blue; 	
}
